.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.4rem;
    border-radius: 2rem;
    border: 1px solid var(--stroke-color);
    transition: var(--transition);
    cursor: default;
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item-image img {
    height: 200px;
}

.portfolio__item h3 {
    margin: 1.2rem 0 0.5rem;
    font-size: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 1;
}

.portfolio__item p {
    color: var(--color-light-2);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
}

.portfolio__item-cta {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
}

.portfolio__item-cta a {
    width: 50%;
    text-align: center;
    font-size: 14px;
}

@media (max-width: 992px) {
    .portfolio__item h3 {
        font-size: 18px;
    }

    .portfolio__item p {
        font-size: 14px;
    }

    .portfolio__item-image img {
        height: 180px;
    }
}